.Center {
	display: flex;

	.left {
		flex: 3;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		h1 {
			color: navy;
			font-size: 6rem;
			animation: colorChange 1s infinite alternate;
		}

		@keyframes colorChange {
			0% {
				color: #ffff00;
			}

			100% {
				color: gold;
			}
		}

		h2 {
			font-size: 3rem;
			font-weight: bold;
			color: #b7e4c7;
			margin-bottom: 10px;
			margin-top: 20px;
		}

		p {
			font-family: cursive;
			font-size: 2rem;
			margin-top: 80px;
			font-weight: 600;
			animation: fade 2.5s ease infinite;
			color: white;

			@keyframes fade {
				0% {
					opacity: 1;
				}

				100% {
					opacity: 0;
				}
			}
		}
		.visit {
			background-color: #0074b8;
			color: white;
			width: 400px;
			padding: 10px 20px;
			border: none;
			border-radius: 8px;
			font-size: 2rem;
			font-weight: bold;
			margin-top: 50px;
			cursor: pointer;
			transition: background-color 0.3s ease;

			&:hover {
				animation: shake 0.5s ease infinite;
				background-color: #005a9e;
			}

			@keyframes shake {
				0% {
					transform: translateX(0);
				}
				25% {
					transform: translateX(-2px);
				}
				50% {
					transform: translateX(2px);
				}
				75% {
					transform: translateX(-2px);
				}
			}
		}
	}

	.right {
		flex: 2;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		.centered-image {
			width: 500px;
			height: 600px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		img {
			max-width: 100%;
			max-height: 100%;
			animation: scaleAnimation 1.5s infinite alternate;
			transform-origin: center;
		}

		@keyframes scaleAnimation {
			0% {
				transform: scale(1);
			}
			100% {
				transform: scale(1.06);
			}
		}
	}
}
