.about {
	overflow: hidden;
	height: 100vh;
	padding: 40px;
	background-color: #f0f0f0;
	text-align: center;
}

.title {
	color: #fff5b7;
	font-size: 2em;
	margin-bottom: 2px;
	margin-top: 10px;
}

.vertical-timeline-element-content {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 5px;
	background-color: white;
}
.vertical-timeline-element::before {
	background-color: red !important;
}

.vertical-timeline-element::before {
	left: 50%;
	border-left: 2px solid red !important;
}

.date {
	font-size: 1.2em;
}

#description {
	margin-top: 10px;
}
